{
  "android": {
    "keystore": {
      "keystorePath": "./secrets/regkasse-release.keystore",
      "keystorePassword": "REPLACE_WITH_KEYSTORE_PASSWORD",
      "keyAlias": "regkasse",
      "keyPassword": "REPLACE_WITH_KEY_PASSWORD"
    }
  }
}
