Build started...
Build succeeded.
­ƒîÉ Force binding to ALL IPs (0.0.0.0:5183) and localhost (127.0.0.1:5183)
AppDbContext model configuration completed with TableOrder support
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;
CREATE TABLE "AspNetRoles" (
    "Id" text NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text,
    CONSTRAINT "PK_AspNetRoles" PRIMARY KEY ("Id")
);

CREATE TABLE "AspNetUsers" (
    "Id" text NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    employee_number character varying(20) NOT NULL,
    role character varying(20) NOT NULL,
    tax_number character varying(20) NOT NULL,
    notes character varying(500) NOT NULL,
    is_active boolean NOT NULL,
    last_login timestamp with time zone,
    account_type character varying(20) NOT NULL,
    is_demo boolean NOT NULL,
    last_login_at timestamp with time zone,
    login_count integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    "UserName" character varying(256),
    "NormalizedUserName" character varying(256),
    "Email" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL,
    CONSTRAINT "PK_AspNetUsers" PRIMARY KEY ("Id")
);

CREATE TABLE customers (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    customer_number character varying(20) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20) NOT NULL,
    address character varying(200) NOT NULL,
    tax_number character varying(20) NOT NULL,
    customer_category integer NOT NULL,
    loyalty_points integer NOT NULL,
    total_spent numeric NOT NULL,
    visit_count integer NOT NULL,
    last_visit timestamp with time zone,
    notes character varying(500) NOT NULL,
    is_vip boolean NOT NULL,
    discount_percentage numeric NOT NULL,
    birth_date timestamp with time zone,
    preferred_payment_method integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_customers" PRIMARY KEY (id)
);

CREATE TABLE invoices (
    id uuid NOT NULL,
    "InvoiceNumber" character varying(50) NOT NULL,
    "InvoiceDate" timestamp with time zone NOT NULL,
    "DueDate" timestamp with time zone NOT NULL,
    "Status" integer NOT NULL,
    "Subtotal" numeric(18,2) NOT NULL,
    "TaxAmount" numeric(18,2) NOT NULL,
    "TotalAmount" numeric(18,2) NOT NULL,
    "PaidAmount" numeric(18,2) NOT NULL,
    "RemainingAmount" numeric(18,2) NOT NULL,
    "CustomerName" character varying(100),
    "CustomerEmail" character varying(100),
    "CustomerPhone" character varying(20),
    "CustomerAddress" character varying(200),
    "CustomerTaxNumber" character varying(20),
    "CompanyName" character varying(100) NOT NULL,
    "CompanyTaxNumber" character varying(20) NOT NULL,
    "CompanyAddress" character varying(200) NOT NULL,
    "CompanyPhone" character varying(20),
    "CompanyEmail" character varying(100),
    "TseSignature" character varying(500) NOT NULL,
    "KassenId" character varying(50) NOT NULL,
    "TseTimestamp" timestamp with time zone NOT NULL,
    "PaymentMethod" integer,
    "PaymentReference" character varying(50),
    "PaymentDate" timestamp with time zone,
    "InvoiceItems" jsonb,
    "TaxDetails" jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_invoices" PRIMARY KEY (id)
);

CREATE TABLE products (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    price numeric(18,2) NOT NULL,
    tax_type integer NOT NULL,
    description character varying(500) NOT NULL,
    barcode character varying(50) NOT NULL,
    category character varying(50) NOT NULL,
    image_url text,
    stock_quantity integer NOT NULL,
    min_stock_level integer NOT NULL,
    unit character varying(20) NOT NULL,
    "Cost" numeric(18,2) NOT NULL,
    "TaxRate" numeric(5,2) NOT NULL,
    "CategoryId" text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_products" PRIMARY KEY (id)
);

CREATE TABLE "AspNetRoleClaims" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "RoleId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text,
    CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES "AspNetRoles" ("Id") ON DELETE CASCADE
);

CREATE TABLE "AspNetUserClaims" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "UserId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text,
    CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE
);

CREATE TABLE "AspNetUserLogins" (
    "LoginProvider" text NOT NULL,
    "ProviderKey" text NOT NULL,
    "ProviderDisplayName" text,
    "UserId" text NOT NULL,
    CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey"),
    CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE
);

CREATE TABLE "AspNetUserRoles" (
    "UserId" text NOT NULL,
    "RoleId" text NOT NULL,
    CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId"),
    CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES "AspNetRoles" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE
);

CREATE TABLE "AspNetUserTokens" (
    "UserId" text NOT NULL,
    "LoginProvider" text NOT NULL,
    "Name" text NOT NULL,
    "Value" text,
    CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name"),
    CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON "AspNetRoleClaims" ("RoleId");

CREATE UNIQUE INDEX "RoleNameIndex" ON "AspNetRoles" ("NormalizedName");

CREATE INDEX "IX_AspNetUserClaims_UserId" ON "AspNetUserClaims" ("UserId");

CREATE INDEX "IX_AspNetUserLogins_UserId" ON "AspNetUserLogins" ("UserId");

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON "AspNetUserRoles" ("RoleId");

CREATE INDEX "EmailIndex" ON "AspNetUsers" ("NormalizedEmail");

CREATE UNIQUE INDEX "IX_AspNetUsers_employee_number" ON "AspNetUsers" (employee_number);

CREATE UNIQUE INDEX "IX_AspNetUsers_tax_number" ON "AspNetUsers" (tax_number);

CREATE UNIQUE INDEX "UserNameIndex" ON "AspNetUsers" ("NormalizedUserName");

CREATE UNIQUE INDEX "IX_customers_customer_number" ON customers (customer_number);

CREATE UNIQUE INDEX "IX_customers_email" ON customers (email);

CREATE UNIQUE INDEX "IX_customers_tax_number" ON customers (tax_number);

CREATE INDEX "IX_invoices_InvoiceDate" ON invoices ("InvoiceDate");

CREATE UNIQUE INDEX "IX_invoices_InvoiceNumber" ON invoices ("InvoiceNumber");

CREATE INDEX "IX_invoices_Status" ON invoices ("Status");

CREATE UNIQUE INDEX "IX_invoices_TseSignature" ON invoices ("TseSignature");

CREATE UNIQUE INDEX "IX_products_barcode" ON products (barcode);

CREATE INDEX "IX_products_category" ON products (category);

CREATE INDEX "IX_products_name" ON products (name);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250813222301_InitialCreate', '9.0.8');

ALTER TABLE products ADD "CategoryId1" uuid;

CREATE TABLE audit_logs (
    id uuid NOT NULL,
    "Action" character varying(50) NOT NULL,
    "EntityType" character varying(100) NOT NULL,
    "EntityId" character varying(100) NOT NULL,
    "UserId" character varying(450) NOT NULL,
    "UserName" character varying(100),
    "OldValues" character varying(4000),
    "NewValues" character varying(4000),
    "IpAddress" character varying(45),
    "UserAgent" character varying(500),
    "Timestamp" timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_audit_logs" PRIMARY KEY (id)
);

CREATE TABLE carts (
    id uuid NOT NULL,
    "CartId" character varying(50) NOT NULL,
    "TableNumber" integer,
    "WaiterName" character varying(100),
    "CustomerId" uuid,
    "UserId" character varying(450) NOT NULL,
    "Notes" character varying(500),
    "ExpiresAt" timestamp with time zone NOT NULL,
    "Status" integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_carts" PRIMARY KEY (id),
    CONSTRAINT "FK_carts_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_carts_customers_CustomerId" FOREIGN KEY ("CustomerId") REFERENCES customers (id)
);

CREATE TABLE cash_registers (
    id uuid NOT NULL,
    "RegisterNumber" character varying(20) NOT NULL,
    "Location" character varying(100) NOT NULL,
    "StartingBalance" numeric(18,2) NOT NULL,
    "CurrentBalance" numeric(18,2) NOT NULL,
    "LastBalanceUpdate" timestamp with time zone NOT NULL,
    "Status" integer NOT NULL,
    "CurrentUserId" character varying(450),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_cash_registers" PRIMARY KEY (id),
    CONSTRAINT "FK_cash_registers_AspNetUsers_CurrentUserId" FOREIGN KEY ("CurrentUserId") REFERENCES "AspNetUsers" ("Id")
);

CREATE TABLE categories (
    id uuid NOT NULL,
    "Name" character varying(100) NOT NULL,
    "Description" character varying(500),
    "Color" character varying(20),
    "Icon" character varying(50),
    "SortOrder" integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_categories" PRIMARY KEY (id)
);

CREATE TABLE company_settings (
    id uuid NOT NULL,
    "CompanyName" character varying(100) NOT NULL,
    "CompanyAddress" character varying(200) NOT NULL,
    "CompanyPhone" character varying(20),
    "CompanyEmail" character varying(100),
    "CompanyWebsite" character varying(100),
    "CompanyTaxNumber" character varying(20) NOT NULL,
    "CompanyRegistrationNumber" character varying(20),
    "CompanyVatNumber" character varying(20),
    "CompanyLogo" character varying(100),
    "CompanyDescription" character varying(500),
    "BusinessHours" jsonb NOT NULL,
    "ContactPerson" character varying(100),
    "ContactPhone" character varying(20),
    "ContactEmail" character varying(100),
    "BankName" character varying(100),
    "BankAccountNumber" character varying(50),
    "BankRoutingNumber" character varying(50),
    "BankSwiftCode" character varying(20),
    "PaymentTerms" character varying(50),
    "Currency" character varying(3) NOT NULL,
    "Language" character varying(10) NOT NULL,
    "TimeZone" character varying(50) NOT NULL,
    "DateFormat" character varying(20) NOT NULL,
    "TimeFormat" character varying(20) NOT NULL,
    "DecimalPlaces" integer NOT NULL,
    "TaxCalculationMethod" character varying(50) NOT NULL,
    "InvoiceNumbering" character varying(50) NOT NULL,
    "ReceiptNumbering" character varying(50) NOT NULL,
    "DefaultPaymentMethod" character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_company_settings" PRIMARY KEY (id)
);

CREATE TABLE inventory (
    id uuid NOT NULL,
    "ProductId" uuid NOT NULL,
    "CurrentStock" integer NOT NULL,
    "MinStockLevel" integer NOT NULL,
    "MaxStockLevel" integer,
    "ReorderPoint" integer,
    "UnitCost" numeric(18,2) NOT NULL,
    "LastRestocked" timestamp with time zone,
    "Notes" character varying(500),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_inventory" PRIMARY KEY (id),
    CONSTRAINT "FK_inventory_products_ProductId" FOREIGN KEY ("ProductId") REFERENCES products (id) ON DELETE CASCADE
);

CREATE TABLE localization_settings (
    id uuid NOT NULL,
    "DefaultLanguage" character varying(10) NOT NULL,
    "SupportedLanguages" jsonb NOT NULL,
    "DefaultCurrency" character varying(3) NOT NULL,
    "SupportedCurrencies" jsonb NOT NULL,
    "DefaultTimeZone" character varying(50) NOT NULL,
    "SupportedTimeZones" jsonb NOT NULL,
    "DefaultDateFormat" character varying(20) NOT NULL,
    "DefaultTimeFormat" character varying(20) NOT NULL,
    "DefaultDecimalPlaces" integer NOT NULL,
    "NumberFormat" character varying(50) NOT NULL,
    "DateFormatOptions" jsonb NOT NULL,
    "TimeFormatOptions" jsonb NOT NULL,
    "CurrencySymbols" jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_localization_settings" PRIMARY KEY (id)
);

CREATE TABLE orders (
    id uuid NOT NULL,
    "OrderId" character varying(50) NOT NULL,
    "TableNumber" integer,
    "WaiterName" character varying(100),
    "CustomerName" character varying(100),
    "CustomerPhone" character varying(20),
    "Notes" character varying(500),
    "OrderDate" timestamp with time zone NOT NULL,
    "Status" integer NOT NULL,
    "Subtotal" numeric(18,2) NOT NULL,
    "TaxAmount" numeric(18,2) NOT NULL,
    "DiscountAmount" numeric(18,2) NOT NULL,
    "TotalAmount" numeric(18,2) NOT NULL,
    "CustomerId" uuid,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_orders" PRIMARY KEY (id),
    CONSTRAINT "FK_orders_customers_CustomerId" FOREIGN KEY ("CustomerId") REFERENCES customers (id)
);

CREATE TABLE payment_details (
    id uuid NOT NULL,
    "InvoiceId" uuid NOT NULL,
    "CustomerId" uuid,
    "Amount" numeric(18,2) NOT NULL,
    "PaymentMethod" integer NOT NULL,
    "PaymentDate" timestamp with time zone NOT NULL,
    "Status" integer NOT NULL,
    "Reference" character varying(100),
    "Notes" character varying(500),
    "TransactionId" character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_payment_details" PRIMARY KEY (id),
    CONSTRAINT "FK_payment_details_customers_CustomerId" FOREIGN KEY ("CustomerId") REFERENCES customers (id),
    CONSTRAINT "FK_payment_details_invoices_InvoiceId" FOREIGN KEY ("InvoiceId") REFERENCES invoices (id) ON DELETE CASCADE
);

CREATE TABLE receipt_templates (
    id uuid NOT NULL,
    "TemplateName" character varying(100) NOT NULL,
    "TemplateType" character varying(50) NOT NULL,
    "Language" character varying(10) NOT NULL,
    "HeaderTemplate" character varying(2000),
    "FooterTemplate" character varying(2000),
    "ItemTemplate" character varying(1000),
    "TaxTemplate" character varying(500),
    "TotalTemplate" character varying(500),
    "PaymentTemplate" character varying(500),
    "CustomerTemplate" character varying(1000),
    "CompanyTemplate" character varying(1000),
    "CustomFields" jsonb,
    "IsDefault" boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_receipt_templates" PRIMARY KEY (id)
);

CREATE TABLE system_settings (
    id uuid NOT NULL,
    "CompanyName" character varying(100) NOT NULL,
    "CompanyAddress" character varying(200) NOT NULL,
    "CompanyPhone" character varying(20),
    "CompanyEmail" character varying(100),
    "CompanyTaxNumber" character varying(20) NOT NULL,
    "DefaultLanguage" character varying(10) NOT NULL,
    "DefaultCurrency" character varying(3) NOT NULL,
    "TimeZone" character varying(50) NOT NULL,
    "DateFormat" character varying(20) NOT NULL,
    "TimeFormat" character varying(20) NOT NULL,
    "DecimalPlaces" integer NOT NULL,
    "TaxRates" jsonb NOT NULL,
    "ReceiptTemplate" character varying(50),
    "InvoicePrefix" character varying(10),
    "ReceiptPrefix" character varying(10),
    "AutoBackup" boolean NOT NULL,
    "BackupFrequency" integer NOT NULL,
    "MaxBackupFiles" integer NOT NULL,
    "LastBackup" timestamp with time zone,
    "EmailNotifications" boolean NOT NULL,
    "SmsNotifications" boolean NOT NULL,
    "EmailSettings" jsonb,
    "SmsSettings" jsonb,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_system_settings" PRIMARY KEY (id)
);

CREATE TABLE cart_items (
    id uuid NOT NULL,
    "CartId" character varying(50) NOT NULL,
    "ProductId" uuid NOT NULL,
    "Quantity" integer NOT NULL,
    "UnitPrice" numeric(18,2) NOT NULL,
    "Notes" character varying(500),
    "CartId1" uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_cart_items" PRIMARY KEY (id),
    CONSTRAINT "FK_cart_items_carts_CartId1" FOREIGN KEY ("CartId1") REFERENCES carts (id) ON DELETE CASCADE,
    CONSTRAINT "FK_cart_items_products_ProductId" FOREIGN KEY ("ProductId") REFERENCES products (id) ON DELETE CASCADE
);

CREATE TABLE cash_register_transactions (
    id uuid NOT NULL,
    "CashRegisterId" character varying(50) NOT NULL,
    "TransactionType" integer NOT NULL,
    "Amount" numeric(18,2) NOT NULL,
    "Description" character varying(500) NOT NULL,
    "UserId" character varying(450) NOT NULL,
    "TransactionDate" timestamp with time zone NOT NULL,
    "CashRegisterId1" uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_cash_register_transactions" PRIMARY KEY (id),
    CONSTRAINT "FK_cash_register_transactions_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_cash_register_transactions_cash_registers_CashRegisterId1" FOREIGN KEY ("CashRegisterId1") REFERENCES cash_registers (id) ON DELETE CASCADE
);

CREATE TABLE inventory_transactions (
    id uuid NOT NULL,
    "InventoryId" uuid NOT NULL,
    "TransactionType" integer NOT NULL,
    "Quantity" integer NOT NULL,
    "UnitCost" numeric(18,2) NOT NULL,
    "TotalCost" numeric(18,2) NOT NULL,
    "Notes" character varying(500),
    "TransactionDate" timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_inventory_transactions" PRIMARY KEY (id),
    CONSTRAINT "FK_inventory_transactions_inventory_InventoryId" FOREIGN KEY ("InventoryId") REFERENCES inventory (id) ON DELETE CASCADE
);

CREATE TABLE order_items (
    id uuid NOT NULL,
    "OrderId" character varying(50) NOT NULL,
    "ProductId" uuid NOT NULL,
    "ProductName" character varying(100) NOT NULL,
    "Quantity" integer NOT NULL,
    "UnitPrice" numeric(18,2) NOT NULL,
    "TaxRate" numeric(5,2) NOT NULL,
    "TaxAmount" numeric(18,2) NOT NULL,
    "DiscountAmount" numeric(18,2) NOT NULL,
    "TotalAmount" numeric(18,2) NOT NULL,
    "SpecialNotes" character varying(500),
    "ProductDescription" character varying(500),
    "ProductCategory" character varying(100),
    "OrderId1" uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_order_items" PRIMARY KEY (id),
    CONSTRAINT "FK_order_items_orders_OrderId1" FOREIGN KEY ("OrderId1") REFERENCES orders (id) ON DELETE CASCADE,
    CONSTRAINT "FK_order_items_products_ProductId" FOREIGN KEY ("ProductId") REFERENCES products (id) ON DELETE CASCADE
);

CREATE TABLE generated_receipts (
    id uuid NOT NULL,
    "TemplateId" uuid NOT NULL,
    "Language" character varying(10) NOT NULL,
    "TemplateType" character varying(50) NOT NULL,
    "GeneratedContent" text NOT NULL,
    "GeneratedAt" timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    is_active boolean NOT NULL,
    CONSTRAINT "PK_generated_receipts" PRIMARY KEY (id),
    CONSTRAINT "FK_generated_receipts_receipt_templates_TemplateId" FOREIGN KEY ("TemplateId") REFERENCES receipt_templates (id) ON DELETE RESTRICT
);

CREATE INDEX "IX_products_CategoryId1" ON products ("CategoryId1");

CREATE INDEX "IX_audit_logs_Action" ON audit_logs ("Action");

CREATE INDEX "IX_audit_logs_EntityId" ON audit_logs ("EntityId");

CREATE INDEX "IX_audit_logs_EntityType" ON audit_logs ("EntityType");

CREATE INDEX "IX_audit_logs_Timestamp" ON audit_logs ("Timestamp");

CREATE INDEX "IX_audit_logs_UserId" ON audit_logs ("UserId");

CREATE INDEX "IX_cart_items_CartId" ON cart_items ("CartId");

CREATE INDEX "IX_cart_items_CartId1" ON cart_items ("CartId1");

CREATE INDEX "IX_cart_items_ProductId" ON cart_items ("ProductId");

CREATE UNIQUE INDEX "IX_carts_CartId" ON carts ("CartId");

CREATE INDEX "IX_carts_CustomerId" ON carts ("CustomerId");

CREATE INDEX "IX_carts_Status" ON carts ("Status");

CREATE INDEX "IX_carts_UserId" ON carts ("UserId");

CREATE INDEX "IX_cash_register_transactions_CashRegisterId" ON cash_register_transactions ("CashRegisterId");

CREATE INDEX "IX_cash_register_transactions_CashRegisterId1" ON cash_register_transactions ("CashRegisterId1");

CREATE INDEX "IX_cash_register_transactions_TransactionDate" ON cash_register_transactions ("TransactionDate");

CREATE INDEX "IX_cash_register_transactions_TransactionType" ON cash_register_transactions ("TransactionType");

CREATE INDEX "IX_cash_register_transactions_UserId" ON cash_register_transactions ("UserId");

CREATE INDEX "IX_cash_registers_CurrentUserId" ON cash_registers ("CurrentUserId");

CREATE UNIQUE INDEX "IX_cash_registers_RegisterNumber" ON cash_registers ("RegisterNumber");

CREATE INDEX "IX_cash_registers_Status" ON cash_registers ("Status");

CREATE UNIQUE INDEX "IX_categories_Name" ON categories ("Name");

CREATE INDEX "IX_categories_SortOrder" ON categories ("SortOrder");

CREATE UNIQUE INDEX "IX_company_settings_CompanyRegistrationNumber" ON company_settings ("CompanyRegistrationNumber");

CREATE UNIQUE INDEX "IX_company_settings_CompanyTaxNumber" ON company_settings ("CompanyTaxNumber");

CREATE UNIQUE INDEX "IX_company_settings_CompanyVatNumber" ON company_settings ("CompanyVatNumber");

CREATE INDEX "IX_generated_receipts_GeneratedAt" ON generated_receipts ("GeneratedAt");

CREATE INDEX "IX_generated_receipts_Language" ON generated_receipts ("Language");

CREATE INDEX "IX_generated_receipts_TemplateId" ON generated_receipts ("TemplateId");

CREATE INDEX "IX_generated_receipts_TemplateType" ON generated_receipts ("TemplateType");

CREATE INDEX "IX_inventory_CurrentStock" ON inventory ("CurrentStock");

CREATE INDEX "IX_inventory_MinStockLevel" ON inventory ("MinStockLevel");

CREATE UNIQUE INDEX "IX_inventory_ProductId" ON inventory ("ProductId");

CREATE INDEX "IX_inventory_transactions_InventoryId" ON inventory_transactions ("InventoryId");

CREATE INDEX "IX_inventory_transactions_TransactionDate" ON inventory_transactions ("TransactionDate");

CREATE INDEX "IX_inventory_transactions_TransactionType" ON inventory_transactions ("TransactionType");

CREATE INDEX "IX_localization_settings_DefaultCurrency" ON localization_settings ("DefaultCurrency");

CREATE INDEX "IX_localization_settings_DefaultLanguage" ON localization_settings ("DefaultLanguage");

CREATE INDEX "IX_order_items_OrderId" ON order_items ("OrderId");

CREATE INDEX "IX_order_items_OrderId1" ON order_items ("OrderId1");

CREATE INDEX "IX_order_items_ProductId" ON order_items ("ProductId");

CREATE INDEX "IX_orders_CustomerId" ON orders ("CustomerId");

CREATE INDEX "IX_orders_OrderDate" ON orders ("OrderDate");

CREATE UNIQUE INDEX "IX_orders_OrderId" ON orders ("OrderId");

CREATE INDEX "IX_orders_Status" ON orders ("Status");

CREATE INDEX "IX_payment_details_CustomerId" ON payment_details ("CustomerId");

CREATE INDEX "IX_payment_details_InvoiceId" ON payment_details ("InvoiceId");

CREATE INDEX "IX_payment_details_PaymentDate" ON payment_details ("PaymentDate");

CREATE INDEX "IX_payment_details_PaymentMethod" ON payment_details ("PaymentMethod");

CREATE INDEX "IX_payment_details_Status" ON payment_details ("Status");

CREATE INDEX "IX_receipt_templates_IsDefault" ON receipt_templates ("IsDefault");

CREATE INDEX "IX_receipt_templates_Language" ON receipt_templates ("Language");

CREATE INDEX "IX_receipt_templates_TemplateName" ON receipt_templates ("TemplateName");

CREATE INDEX "IX_receipt_templates_TemplateType" ON receipt_templates ("TemplateType");

CREATE UNIQUE INDEX "IX_system_settings_CompanyTaxNumber" ON system_settings ("CompanyTaxNumber");

ALTER TABLE products ADD CONSTRAINT "FK_products_categories_CategoryId1" FOREIGN KEY ("CategoryId1") REFERENCES categories (id);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250814051845_FixRelationshipMappings', '9.0.8');

CREATE TABLE "UserSettings" (
    "Id" uuid NOT NULL,
    "UserId" character varying(450) NOT NULL,
    "Language" character varying(10) NOT NULL,
    "Currency" character varying(3) NOT NULL,
    "DateFormat" character varying(20) NOT NULL,
    "TimeFormat" character varying(10) NOT NULL,
    "CashRegisterId" character varying(100),
    "DefaultTaxRate" integer NOT NULL,
    "EnableDiscounts" boolean NOT NULL,
    "EnableCoupons" boolean NOT NULL,
    "AutoPrintReceipts" boolean NOT NULL,
    "ReceiptHeader" character varying(200),
    "ReceiptFooter" character varying(200),
    "TseDeviceId" character varying(100),
    "FinanzOnlineEnabled" boolean NOT NULL,
    "FinanzOnlineUsername" character varying(100),
    "SessionTimeout" integer NOT NULL,
    "RequirePinForRefunds" boolean NOT NULL,
    "MaxDiscountPercentage" integer NOT NULL,
    "Theme" character varying(10) NOT NULL,
    "CompactMode" boolean NOT NULL,
    "ShowProductImages" boolean NOT NULL,
    "EnableNotifications" boolean NOT NULL,
    "LowStockAlert" boolean NOT NULL,
    "DailyReportEmail" character varying(255),
    "DefaultPaymentMethod" character varying(20) NOT NULL,
    "DefaultTableNumber" character varying(10),
    "DefaultWaiterName" character varying(100),
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_UserSettings" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_UserSettings_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_UserSettings_Currency" ON "UserSettings" ("Currency");

CREATE INDEX "IX_UserSettings_Language" ON "UserSettings" ("Language");

CREATE UNIQUE INDEX "IX_UserSettings_UserId" ON "UserSettings" ("UserId");

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250814165700_AddUserSettingsManually', '9.0.8');

ALTER TABLE products DROP CONSTRAINT "FK_products_categories_CategoryId1";

DROP INDEX "IX_products_CategoryId1";

ALTER TABLE products DROP COLUMN "CategoryId1";

ALTER TABLE products ALTER COLUMN image_url TYPE character varying(500);

ALTER TABLE orders ADD "ApplicationUserId" text;

ALTER TABLE invoices ADD "CustomerId" uuid;

ALTER TABLE inventory_transactions ADD "ApplicationUserId" text;

ALTER TABLE company_settings ADD "DefaultTseDeviceId" character varying(100);

ALTER TABLE company_settings ADD "FinanzOnlineApiUrl" character varying(500);

ALTER TABLE company_settings ADD "FinanzOnlineAutoSubmit" boolean NOT NULL DEFAULT FALSE;

ALTER TABLE company_settings ADD "FinanzOnlineEnableValidation" boolean NOT NULL DEFAULT FALSE;

ALTER TABLE company_settings ADD "FinanzOnlinePassword" character varying(100);

ALTER TABLE company_settings ADD "FinanzOnlineRetryAttempts" integer NOT NULL DEFAULT 0;

ALTER TABLE company_settings ADD "FinanzOnlineSubmitInterval" integer NOT NULL DEFAULT 0;

ALTER TABLE company_settings ADD "FinanzOnlineUsername" character varying(100);

ALTER TABLE company_settings ADD "TseAutoConnect" boolean NOT NULL DEFAULT FALSE;

ALTER TABLE company_settings ADD "TseConnectionTimeout" integer NOT NULL DEFAULT 0;

CREATE TABLE "TseDevices" (
    id uuid NOT NULL,
    "SerialNumber" character varying(100) NOT NULL,
    "DeviceType" character varying(100) NOT NULL,
    "VendorId" character varying(100) NOT NULL,
    "ProductId" character varying(100) NOT NULL,
    "IsConnected" boolean NOT NULL,
    "LastConnectionTime" timestamp with time zone NOT NULL,
    "LastSignatureTime" timestamp with time zone NOT NULL,
    "CertificateStatus" character varying(20) NOT NULL,
    "MemoryStatus" character varying(20) NOT NULL,
    "CanCreateInvoices" boolean NOT NULL,
    "ErrorMessage" character varying(500),
    "TimeoutSeconds" integer NOT NULL,
    "IsActive" boolean NOT NULL,
    "KassenId" character varying(100) NOT NULL,
    "FinanzOnlineUsername" character varying(100) NOT NULL,
    "FinanzOnlineEnabled" boolean NOT NULL,
    "LastFinanzOnlineSync" timestamp with time zone NOT NULL,
    "PendingInvoices" integer NOT NULL,
    "PendingReports" integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone,
    created_by character varying(450),
    updated_by character varying(450),
    CONSTRAINT "PK_TseDevices" PRIMARY KEY (id)
);

CREATE INDEX "IX_products_CategoryId" ON products ("CategoryId");

CREATE INDEX "IX_orders_ApplicationUserId" ON orders ("ApplicationUserId");

CREATE INDEX "IX_invoices_CustomerId" ON invoices ("CustomerId");

CREATE INDEX "IX_inventory_transactions_ApplicationUserId" ON inventory_transactions ("ApplicationUserId");

ALTER TABLE inventory_transactions ADD CONSTRAINT "FK_inventory_transactions_AspNetUsers_ApplicationUserId" FOREIGN KEY ("ApplicationUserId") REFERENCES "AspNetUsers" ("Id");

ALTER TABLE invoices ADD CONSTRAINT "FK_invoices_customers_CustomerId" FOREIGN KEY ("CustomerId") REFERENCES customers (id);

ALTER TABLE orders ADD CONSTRAINT "FK_orders_AspNetUsers_ApplicationUserId" FOREIGN KEY ("ApplicationUserId") REFERENCES "AspNetUsers" ("Id");


ALTER TABLE "TseDevices" ALTER COLUMN "MemoryStatus" TYPE character varying(50);

ALTER TABLE "TseDevices" ALTER COLUMN "DeviceType" TYPE character varying(50);

ALTER TABLE "TseDevices" ALTER COLUMN "CertificateStatus" TYPE character varying(50);

ALTER TABLE invoices ADD "CashRegisterId" uuid NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000';

ALTER TABLE company_settings ADD "FinanzOnlineEnabled" boolean NOT NULL DEFAULT FALSE;

ALTER TABLE company_settings ADD "LastFinanzOnlineSync" timestamp with time zone;

ALTER TABLE company_settings ADD "PendingInvoices" integer;

CREATE TABLE "DailyClosings" (
    "Id" uuid NOT NULL,
    "CashRegisterId" uuid NOT NULL,
    "UserId" text NOT NULL,
    "ClosingDate" timestamp with time zone NOT NULL,
    "ClosingType" character varying(20) NOT NULL,
    "TotalAmount" numeric(18,2) NOT NULL,
    "TotalTaxAmount" numeric(18,2) NOT NULL,
    "TransactionCount" integer NOT NULL,
    "TseSignature" character varying(500) NOT NULL,
    "Status" character varying(20) NOT NULL,
    "FinanzOnlineStatus" character varying(20),
    "FinanzOnlineError" character varying(500),
    "FinanzOnlineReferenceId" character varying(100),
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    CONSTRAINT "PK_DailyClosings" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_DailyClosings_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_DailyClosings_cash_registers_CashRegisterId" FOREIGN KEY ("CashRegisterId") REFERENCES cash_registers (id) ON DELETE CASCADE
);

CREATE TABLE "FinanzOnlineErrors" (
    "Id" uuid NOT NULL,
    "ErrorType" character varying(50) NOT NULL,
    "ErrorMessage" character varying(500) NOT NULL,
    "ReferenceId" character varying(100),
    "OccurredAt" timestamp with time zone NOT NULL,
    "IsResolved" boolean NOT NULL,
    "ResolvedAt" timestamp with time zone,
    "ResolvedBy" character varying(100),
    "ResolutionNotes" character varying(500),
    "CashRegisterId" uuid,
    "InvoiceNumber" character varying(100),
    "RetryCount" integer NOT NULL,
    "LastRetryAt" timestamp with time zone,
    "Status" character varying(20) NOT NULL,
    CONSTRAINT "PK_FinanzOnlineErrors" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_FinanzOnlineErrors_cash_registers_CashRegisterId" FOREIGN KEY ("CashRegisterId") REFERENCES cash_registers (id)
);

CREATE TABLE "TseSignatures" (
    "Id" uuid NOT NULL,
    "Signature" character varying(500) NOT NULL,
    "CashRegisterId" uuid NOT NULL,
    "InvoiceNumber" character varying(100) NOT NULL,
    "Amount" numeric(18,2) NOT NULL,
    "SignatureType" character varying(50) NOT NULL,
    "TseDeviceId" uuid,
    "CertificateNumber" character varying(100),
    "CreatedAt" timestamp with time zone NOT NULL,
    "ValidatedAt" timestamp with time zone,
    "IsValid" boolean NOT NULL,
    "ValidationError" character varying(500),
    CONSTRAINT "PK_TseSignatures" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_TseSignatures_TseDevices_TseDeviceId" FOREIGN KEY ("TseDeviceId") REFERENCES "TseDevices" (id),
    CONSTRAINT "FK_TseSignatures_cash_registers_CashRegisterId" FOREIGN KEY ("CashRegisterId") REFERENCES cash_registers (id) ON DELETE CASCADE
);

CREATE UNIQUE INDEX "IX_TseDevices_SerialNumber" ON "TseDevices" ("SerialNumber");

CREATE INDEX "IX_DailyClosings_CashRegisterId_ClosingDate_ClosingType" ON "DailyClosings" ("CashRegisterId", "ClosingDate", "ClosingType");

CREATE INDEX "IX_DailyClosings_UserId" ON "DailyClosings" ("UserId");

CREATE INDEX "IX_FinanzOnlineErrors_CashRegisterId" ON "FinanzOnlineErrors" ("CashRegisterId");

CREATE INDEX "IX_FinanzOnlineErrors_ErrorType_OccurredAt" ON "FinanzOnlineErrors" ("ErrorType", "OccurredAt");

CREATE INDEX "IX_FinanzOnlineErrors_ReferenceId" ON "FinanzOnlineErrors" ("ReferenceId");

CREATE INDEX "IX_TseSignatures_CashRegisterId_CreatedAt" ON "TseSignatures" ("CashRegisterId", "CreatedAt");

CREATE UNIQUE INDEX "IX_TseSignatures_Signature" ON "TseSignatures" ("Signature");

CREATE INDEX "IX_TseSignatures_TseDeviceId" ON "TseSignatures" ("TseDeviceId");


ALTER TABLE cart_items DROP CONSTRAINT "FK_cart_items_carts_CartId1";

ALTER TABLE cart_items DROP CONSTRAINT "FK_cart_items_products_ProductId";

DROP INDEX "IX_orders_OrderDate";

DROP INDEX "IX_orders_OrderId";

DROP INDEX "IX_orders_Status";

DROP INDEX "IX_order_items_OrderId";

ALTER TABLE carts DROP CONSTRAINT "PK_carts";

DROP INDEX "IX_carts_CartId";

DROP INDEX "IX_carts_Status";

DROP INDEX "IX_cart_items_CartId1";

ALTER TABLE cart_items DROP COLUMN "CartId1";

ALTER TABLE carts ADD "ApplicationUserId" text;

ALTER TABLE carts ADD CONSTRAINT "PK_carts" PRIMARY KEY ("CartId");

CREATE INDEX "IX_carts_ApplicationUserId" ON carts ("ApplicationUserId");

ALTER TABLE cart_items ADD CONSTRAINT "FK_cart_items_carts_CartId" FOREIGN KEY ("CartId") REFERENCES carts ("CartId") ON DELETE CASCADE;

ALTER TABLE cart_items ADD CONSTRAINT "FK_cart_items_products_ProductId" FOREIGN KEY ("ProductId") REFERENCES products (id) ON DELETE RESTRICT;

ALTER TABLE carts ADD CONSTRAINT "FK_carts_AspNetUsers_ApplicationUserId" FOREIGN KEY ("ApplicationUserId") REFERENCES "AspNetUsers" ("Id");



CREATE TABLE receipts (
    receipt_id uuid NOT NULL,
    payment_id uuid NOT NULL,
    receipt_number character varying(50) NOT NULL,
    issued_at timestamp with time zone NOT NULL,
    cashier_id character varying(50),
    cash_register_id character varying(50) NOT NULL,
    sub_total numeric(10,2) NOT NULL,
    tax_total numeric(10,2) NOT NULL,
    grand_total numeric(10,2) NOT NULL,
    qr_code_payload text,
    signature_value text,
    prev_signature_value text,
    created_at timestamp with time zone NOT NULL,
    CONSTRAINT "PK_receipts" PRIMARY KEY (receipt_id),
    CONSTRAINT "FK_receipts_payment_details_payment_id" FOREIGN KEY (payment_id) REFERENCES payment_details (id) ON DELETE CASCADE
);

CREATE TABLE receipt_items (
    item_id uuid NOT NULL,
    receipt_id uuid NOT NULL,
    product_name character varying(255) NOT NULL,
    quantity integer NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    total_price numeric(10,2) NOT NULL,
    tax_rate numeric(5,2) NOT NULL,
    CONSTRAINT "PK_receipt_items" PRIMARY KEY (item_id),
    CONSTRAINT "FK_receipt_items_receipts_receipt_id" FOREIGN KEY (receipt_id) REFERENCES receipts (receipt_id) ON DELETE CASCADE
);

CREATE TABLE receipt_tax_lines (
    line_id uuid NOT NULL,
    receipt_id uuid NOT NULL,
    tax_rate numeric(5,2) NOT NULL,
    net_amount numeric(10,2) NOT NULL,
    tax_amount numeric(10,2) NOT NULL,
    gross_amount numeric(10,2) NOT NULL,
    CONSTRAINT "PK_receipt_tax_lines" PRIMARY KEY (line_id),
    CONSTRAINT "FK_receipt_tax_lines_receipts_receipt_id" FOREIGN KEY (receipt_id) REFERENCES receipts (receipt_id) ON DELETE CASCADE
);

CREATE INDEX "IX_receipt_items_receipt_id" ON receipt_items (receipt_id);

CREATE INDEX "IX_receipt_tax_lines_receipt_id" ON receipt_tax_lines (receipt_id);

CREATE INDEX "IX_receipts_payment_id" ON receipts (payment_id);

CREATE UNIQUE INDEX "IX_receipts_receipt_number" ON receipts (receipt_number);


DROP INDEX "IX_invoices_InvoiceDate";

DROP INDEX "IX_invoices_Status";

CREATE EXTENSION IF NOT EXISTS pg_trgm;

CREATE TABLE "FinanzOnlineSubmissions" (
    "Id" uuid NOT NULL,
    "InvoiceId" uuid NOT NULL,
    "SubmittedAt" timestamp with time zone NOT NULL,
    "RequestPayloadJson" jsonb NOT NULL,
    "ResponseStatusCode" text NOT NULL,
    "ResponseBodyJson" jsonb NOT NULL,
    "Success" boolean NOT NULL,
    "ErrorMessage" text,
    CONSTRAINT "PK_FinanzOnlineSubmissions" PRIMARY KEY ("Id")
);

CREATE INDEX "IX_invoices_CompanyName" ON invoices USING GIN ("CompanyName" gin_trgm_ops);

CREATE INDEX "IX_invoices_CustomerName" ON invoices USING GIN ("CustomerName" gin_trgm_ops);

CREATE INDEX "IX_invoices_InvoiceNumber_Trgm" ON invoices USING GIN ("InvoiceNumber" gin_trgm_ops);

CREATE INDEX "IX_invoices_is_active_InvoiceDate" ON invoices (is_active, "InvoiceDate" DESC);

CREATE INDEX "IX_invoices_Status_InvoiceDate" ON invoices ("Status", "InvoiceDate" DESC);


ALTER TABLE invoices ADD "SourcePaymentId" uuid;

CREATE UNIQUE INDEX "IX_invoices_SourcePaymentId" ON invoices ("SourcePaymentId") WHERE "SourcePaymentId" IS NOT NULL;


DROP INDEX "IX_invoices_TseSignature";

CREATE UNIQUE INDEX "IX_invoices_TseSignature" ON invoices ("TseSignature") WHERE "TseSignature" != '';


ALTER TABLE invoices ADD "DocumentType" integer NOT NULL DEFAULT 0;

ALTER TABLE invoices ADD "OriginalInvoiceId" uuid;

ALTER TABLE invoices ADD "StornoReasonCode" character varying(50);

ALTER TABLE invoices ADD "StornoReasonText" character varying(500);


ALTER TABLE cash_register_transactions DROP CONSTRAINT "FK_cash_register_transactions_cash_registers_CashRegisterId1";

DROP INDEX "IX_cash_register_transactions_CashRegisterId1";

ALTER TABLE cash_register_transactions DROP COLUMN "CashRegisterId1";

ALTER TABLE receipts ALTER COLUMN cash_register_id TYPE uuid USING cash_register_id::uuid;

ALTER TABLE invoices ALTER COLUMN "CashRegisterId" DROP NOT NULL;

ALTER TABLE cash_register_transactions ALTER COLUMN "CashRegisterId" TYPE uuid USING "CashRegisterId"::uuid;

ALTER TABLE "AspNetUsers" ADD cash_register_id uuid;

ALTER TABLE orders ADD CONSTRAINT "AK_orders_OrderId" UNIQUE ("OrderId");

CREATE INDEX "IX_order_items_OrderId" ON order_items ("OrderId");

ALTER TABLE cash_register_transactions ADD CONSTRAINT "FK_cash_register_transactions_cash_registers_CashRegisterId" FOREIGN KEY ("CashRegisterId") REFERENCES cash_registers (id) ON DELETE CASCADE;

ALTER TABLE order_items ADD CONSTRAINT "FK_order_items_orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES orders ("OrderId") ON DELETE CASCADE;




ALTER TABLE order_items DROP CONSTRAINT "FK_order_items_orders_OrderId1";

DROP INDEX "IX_order_items_OrderId1";

ALTER TABLE order_items DROP COLUMN "OrderId1";


COMMIT;


